.commentContainer{
    margin-bottom: 5px;
    background-color: #89a3b2;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

ul{
    padding: 7px;    
}

li{
    list-style: none;    
}

.commentContainer p{
    margin: 0;
    width: 100%;
}

.emailComment{
    font-style: italic;
    justify-content: flex-start;
    
}