.cardPublication{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #cad2f7;
    /* background-color: #eaeaea; */
    width: 100%;
    border: none;
}

.userName{
    margin: 20px auto;
}